.panel
{

	margin-left: 20%;
	margin-top: 3%;
  width: 60% ;


}
body

{
  color: black;
  background:none !important;

}
#title
{
  
  margin-left: 39%;
  font-size: 48px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;

}
/* Nav Bar */
 nav{
  background-color:black;

}
.content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
nav ul{
margin-left: 10%;

}

.panel-content
{
	margin-left: 20%;
	margin-top: 3%;
	width: 60% ;
	height: auto ;
}


/* not active 
.nav-tabs .pillclass .nav-link:not(.active) {
    background-color: black;
    color: white;
    border: black;

}
*/

.nav-tabs .pillclass .nav-link.active{
    background-color: black;
    color: white;
}
