.panel
{

	margin-left: 20%;
	margin-top: 3%;
  width: 60% ;


}
body

{
  color: black;

}
#title
{
  
  margin-left: 39%;
  font-size: 48px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;

}


nav ul{
margin-left: 10%;

}

.panel-content
{
	margin-left: 20%;
	margin-top: 3%;
	width: 60% ;
	height: auto ;
}


/* not active 
.nav-tabs .pillclass .nav-link:not(.active) {
    background-color: black;
    color: white;
    border: black;

}
*/

.nav-tabs .pillclass .nav-link.active{
    background-color: black;
    color: white;
}