html,
body,
header,
#intro {
    font-family: 'Lato', sans-serif;
    height: 100%;
}
body{
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("../img/dswc.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
	color: white;
}
.card{
  height: 100%;
}
ul{
  list-style-type: none;
}

.bg-black{
  background: black;
}

.top-nav-collapse {
    background-color: rgb(61, 58, 58);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.carousel-caption{
	background: black;
	opacity: 0.8;
}

.skills{
	height: 30%;
	width: 30%;
}

#logo{
    z-index: 200;
    border-bottom-right-radius:10%;
    border-bottom-left-radius:10%;
    position: fixed;
    top: 0;
    left:10%;
	padding-right: 0;
	display: inline;
	height: 4em;
	width: 4em;
}

h2.club{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size:6vw;
  animation: 
    typing 4s steps(30, end), blink-caret .75s step-end infinite;
}
h4.club{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; 
  font-size:2.5vw;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(50, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.about-text{
  letter-spacing:1px;
}
.desc{
	font-size:25px;
}
@media screen and (max-width: 500px){
	a.smlink{
		display:none;
	}
	div.sminfo{
		display:none;
	}
}


